<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.GradeDAO">
	<insert id="insertGrade" parameterType="com.smhrd.domain.Grade">
		insert into tbl_grade values (tbl_grade_seq.nextval, #{g_nick}, #{user_nick}, #{g_review}, sysdate, #{g_score}, #{g_title}, 1)
   </insert>
   <select id="selectgpost" parameterType="BigDecimal" resultType="com.smhrd.domain.Grade">
		select g_seq, g_title, g_nick, g_review from TBL_grade where g_seq=#{g_seq}
	</select>
   <select id="selectgboard" resultType="com.smhrd.domain.Grade">
		select * from tbl_grade
	</select>
	<update id="updateScore1" parameterType="String"> 
		update TBL_user set user_manner=user_manner-5 where user_nick=#{user_nick}
	</update>
	<update id="updateScore2" parameterType="String"> 
		update TBL_user set user_manner=user_manner-3 where user_nick=#{user_nick}
	</update>
	<update id="updateScore4" parameterType="String"> 
		update TBL_user set user_manner=user_manner+3 where user_nick=#{user_nick}
	</update>
	<update id="updateScore5" parameterType="String"> 
		update TBL_user set user_manner=user_manner+5 where user_nick=#{user_nick}
	</update>
	<select id="selectmyreview" parameterType="String" resultType="com.smhrd.domain.Grade">
		select g_seq, g_nick, g_date, g_title, g_grade from tbl_grade where user_nick=#{user_nick}
	</select>
	
   
</mapper>