<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.SafetyDAO">
	<insert id="insertSafety" parameterType="com.smhrd.domain.Safety">
		insert into tbl_safety values (tbl_safety_seq.nextval, #{safetyUser1}, #{safetyUser2}, #{safetyAddr}, to_date(#{meetingTime2}, 'YYYY-MM-DD HH24:MI:SS'), #{safetyMemo})
   </insert>
   
</mapper>