<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.UserDAO">
	<insert id="insertUser" parameterType="com.smhrd.domain.User">
		insert into tbl_user values (#{user_id}, #{user_pw}, #{user_nick}, #{user_addr}, 1, sysdate, #{user_product})
   </insert>

	<select id="selectUser" parameterType="com.smhrd.domain.User" resultType="com.smhrd.domain.User">
		select * from tbl_user where user_id=#{user_id} and user_pw=#{user_pw}
   </select>

	<select id="selectId" parameterType="String" resultType="String">
      select user_id from tbl_user where user_id=#{user_id}
   </select>
	
	<select id="selectNick" parameterType="String" resultType="String">
      select user_nick from tbl_user where user_nick=#{user_nick}
   </select>
   <select id="selectmygrade" parameterType="String" resultType="int">
		select distinct u.user_manner, u.user_nick from tbl_grade g, tbl_user u where g.user_nick=u.user_nick and u.user_nick=#{user_nick}
	</select>
  
   
</mapper> 