<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SafetyCon</servlet-name>
  	<display-name>SafetyCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SafetyCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GradeCon</servlet-name>
  	<display-name>GradeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.GradeCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdCheckCon</servlet-name>
  	<display-name>IdCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.IdCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NickCheckCon</servlet-name>
  	<display-name>NickCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.NickCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HobbyCon</servlet-name>
  	<display-name>HobbyCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.HobbyCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HobbyreadOne</servlet-name>
  	<display-name>HobbyreadOne</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.HobbyreadOne</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCommentCon</servlet-name>
  	<display-name>AddCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AddCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCommentCon</servlet-name>
  	<display-name>DeleteCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HobbyAjaxCon</servlet-name>
  	<display-name>HobbyAjaxCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.HobbyAjaxCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddhPostCon</servlet-name>
  	<display-name>AddhPostCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AddhPostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductCon</servlet-name>
  	<display-name>ProductCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ProductCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>imgCon</servlet-name>
  	<display-name>imgCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.imgCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SafetyCon</servlet-name>
  	<url-pattern>/SafetyCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GradeCon</servlet-name>
  	<url-pattern>/GradeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdCheckCon</servlet-name>
  	<url-pattern>/IdCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NickCheckCon</servlet-name>
  	<url-pattern>/NickCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HobbyCon</servlet-name>
  	<url-pattern>/HobbyCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HobbyreadOne</servlet-name>
  	<url-pattern>/HobbyreadOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCommentCon</servlet-name>
  	<url-pattern>/AddCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCommentCon</servlet-name>
  	<url-pattern>/DeleteCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HobbyAjaxCon</servlet-name>
  	<url-pattern>/HobbyAjaxCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddhPostCon</servlet-name>
  	<url-pattern>/AddhPostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCon</servlet-name>
  	<url-pattern>/ProductCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>imgCon</servlet-name>
  	<url-pattern>/imgCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  


</web-app>